:root {
  --lotto-primary: #4e5ba6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lotto-primary);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--lotto-primary);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: calc(100vh - 120px);
}

.lotto-card {
  width: 320px;
  height: 500px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.lotto-card__header {
  margin: 1rem;
  text-align: center;
}
