:root {
  --lotto-primary: #4e5ba6;
  --lotto-primary-light: #6f7bd4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lotto-primary);
  color: #fff;
  font-size: 1.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--lotto-primary);
  color: var(--lotto-primary);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: calc(100vh - 120px);
}
