<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <header class="header">
      <h1>🎱 행운의 로또</h1>
    </header/>
    <section>
      <div class="lotto-card">
        <div data-component="lotto-money-input" class="lotto-money-input"></div>
        <div data-component="lotto-list" class="lotto-list-container"></div>
        <div data-component="winning-numbers-input" class="winning-numbers-input"></div>
      </div>
    </section>
    <footer class="footer">
      <p>&copy Copyright 2023 woowacourse</p>
    </footer>
    <div data-component="lotto-result-modal"></div>
  </body>
</html>
